<div class="page-header">
  <h1>
    Restaurants
    <a href="/restaurants/new" class="btn btn-lg btn-success">New Restaurant</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Tags</th>
        <th>Cover photo</th>
        <th>Description</th>
        <th>Restaurant</th>
        <th>Actions</th>
      </tr>

      <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.tags %></td>
        <td><img src='<%= restaurant.cover_photo %>' class='img-responsive'></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.restaurant_id %></td>
        <td>
          <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">Show</a>
          <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>