<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Tags</dt>
      <dd><%= @restaurant.tags %></dd>

      <dt>Cover photo</dt>
      <dd><img src="<%= @restaurant.cover_photo %>" class="img-responsive"></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Restaurant</dt>
      <dd><%= @restaurant.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
